.container2 {
  background-color: #fff;
  padding: 0%;
  margin-top: 5rem !important;
  text-align: center;
  padding: 1%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2%;
}
  
  .feat {
    width: 60%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: auto;
    margin-bottom: 1%;
    /* margin-left: 25%; */
    /* filter: blur(3px); */
 } 
 
 .feat span { 
     background:#fff; 
     padding: 0 20px; 
     font-size: 50px;
 }

img {
  max-width: 120px;
  height: auto;
  margin: 20px;
}

/* .main-images {
    margin-left: 10%;

} */

.container3 {
    margin-top: 50px;
    /* margin-left: 150px;
    margin-right: 50px; */
    display: inline-flex;
}

.feature-item {
    text-align: center;
    margin: 10px;
  }
  
  .feature-item img {
    max-width: 100%;
    height: auto;
  }

img.featimg {
    max-width: 350px;
    height: auto;
    border-radius: 5px;
}


.feature-item p {
    margin-top: 5px;
    font-size: 20px;
    font-size: medium;
  }

  .container4 {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .feature-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featimg1 {
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    margin-right: 35%;
    margin-top: 15%;
    box-shadow: 
    0px 0px 10px 0px rgba(0, 0, 0, 0.1), /* top-left */
    0px 0px 10px 0px rgba(0, 0, 0, 0.1) inset, /* bottom-right (inset) */
    0px 0px 20px 0px rgba(0, 0, 0, 0.2), /* top-left */
    0px 0px 20px 0px rgba(0, 0, 0, 0.2) inset; /* bottom-right (inset) */
  }
  
  .text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 580px;
    margin-top: 5%;
    display: inline-block;
  }
  
  .text1 {
    filter: contrast(40%);
    font-size: 20px;
    line-height: 1.6;
    margin-left: 770px;
    margin-right: 190px;
    display: block;
    text-align: justify;
  }

  .read-more-btn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 17%;
    border-radius: 10px;
    border: #000 2px solid;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    background-color: rgb(219, 87, 87);
  }


  